In [1]:
1 + 1

2

In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.DataFrame({'col1':[1,2], 'col2':[3,4]})
print (df)

   col1  col2
0     1     3
1     2     4

In [4]:
df.head()

   col1  col2
0     1     3
1     2     4

In [5]:
df.axes

[RangeIndex(start=0, stop=2, step=1), Index(['col1', 'col2'], dtype='object')]

In [6]:
df.max()

col1    2
col2    4
dtype: int64

In [7]:
df.col1.max()

2

In [8]:
df.col2.max()

4

In [10]:
X1 = np.array([[1,2,3], [4,5,6]])

In [11]:
print(X1)

[[1 2 3]
 [4 5 6]]

In [15]:
df.columns

Index(['col1', 'col2'], dtype='object')

In [17]:
df.dtypes

col1    int64
col2    int64
dtype: object